/* NAVBAR */
@media (min-width: 768px){
  .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: auto;
    float: none;
    width: 100%;
  }
  .navbar-nav>li {
    display: table-cell;
    float: none;
    text-align: center;
  }
}

@media (max-width: 768px){
  .navbar-nav>li {
    text-align: center;
  }
}

/* MENU NAV */
#myTabs>li{
  width: 25%;
  height: 55px;
  text-align: center;
  vertical-align: center;
}

@media (max-width: 768px){
  #myTabs>li{
    width: 50%;
  }
}