/* UTILITIES */


/* GLOBAL */
@media (min-width: 1200px){
  .container {
    width: 80%;
  } 
}

/* HEADER */
header {
  height: 300px;
  p {
    color: #ccc;
    margin-top: 70px;
    font-size: 1.8rem;
  }
  strong {
    color: #fff;
  }
  /* ie fallbacks */
  background-image: url('../assets/header_phase1.jpg');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/header_phase1.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/header_phase1.jpg', sizingMethod='scale');

  /* desired styles */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../assets/header_phase1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* LEAD SECTION */
#lead-section{
  color: #ddd;
  /* ie fallbacks */
  background-image: url('../assets/background_pattern.jpg');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/background_pattern.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./assets/background_pattern.jpg', sizingMethod='scale');
  /* desired styles */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../assets/background_pattern.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .navbar{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),transparent;
    border: none;
  }
  .navbar-nav>li:first-child {
    border-left: 1px solid rgba(0,0,0,0.1);
  }
  .navbar-nav>li{
    border-right: 1px solid rgba(0,0,0,0.1);
  }
  a {
    color: #bbb;
  }
  .lead {
    font-weight: bold;
    display: block;
    margin-bottom: 0px;
  }
  #lead-line-1 {
    width: 400px;
  }
  #lead-line-2 {
    margin-bottom: 20px;
  }
  article {
    padding-bottom: 50px;
  }
  small {
    display: block;
    color: #ccc;
    width: 600px;
    font-size: 1.2rem;
  }
  #small-line-1 {
    display: block;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px){
  .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: auto;
    float: none;
    width: 100%;
  }
  .navbar-nav>li {
    display: table-cell;
    float: none;
    text-align: center;
  }
}

@media (max-width: 768px){
  .navbar-nav>li {
    text-align: center;
  }
  .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    border-color: transparent;
    background-color: transparent;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    border-color: transparent;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: rgba(0,0,0,0.1);
  }
  #lead-section li {
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  #lead-section li:last-child {
    border-bottom: none;
  }
  .lead {
    display: inline;
    font-size: 2rem;
  }
  #lead-line-1, small {
    width: 100%;
  }
  #lead-section small {
    display: inline;
  }
}

/* WINDOW SECTION */
#windows-section{
  .col-md-4{
    padding-right: 0px;
  }
  #windows-panel{
    padding-top: 30px;
    background: linear-gradient(to top, rgba(10,10,10,0.3), rgba(0,0,0,0));
    padding-right: 0px;
    height: 200px;
    // width: 66.6666%
  }
  #empty-windows-panel{
    height: 84px;
    background: linear-gradient(to top, rgba(10,10,10,0.1), rgba(0,0,0,0));
  }
  .tab-content {
    background: white;
    height: 200px;
    margin-bottom: 100px;
  }
}

#windows-bg-image {
  width: 100%;
  float: right;
}

#myTabs>li{
  width: 25%;
  height: 55px;
  text-align: center;
  vertical-align: center;
}

.tab-content {
  margin-bottom: 50px;

}

.tab-img {
  width: 100%;
  background-image: url('../assets/tab_backgroundgradient.png');
}

#windows-main-image{
  position: relative;
  top: -10px;
}

#starter-main-image{
  width: 140px;
  position: relative;
  top: -15px;
}

#pro-main-image{
  width: 65px;
  position: relative;
  top: -17px;
}

#plus-main-image{
  width: 80px;
  position: relative;
  top: -16px;
}

@media (max-width: 992px){
  #windows-bg-image {
    width: 40%;
  }
}

@media (max-width: 768px){
  #myTabs>li{
    height: 80px;
    width: 50%;
  }

  .tab-img {
    width: 80%;
  }

  #windows-bg-image {
    width: 80%;
  }
}

/* REGISTER SECTION */
#register-section{
  .col-sm-6:first-child {
    .form-control{
      float: right;
    }

  }
  .checkbox{
    margin-left: 20px;
  }
  input, select, #checkbox-container, #register-btn-container {
    max-width: 300px;
  }
  input, select {
    height: 40px;
    margin-bottom: 16px;
  }
  #checkbox-container{
    margin-left: 20px;
    height: 110px;
    // font-size: 1.3rem;
    input {
      margin-top: -15px;
    }
  }
  button{
    width: 100%;
    height: 40px;
  }

}
  

@media (max-width: 768px){
  #register-section{
    .col-sm-6:first-child {
      .form-control{
        float: none;
      }
    }
    input, select {
      margin: 15px auto;
    }
    #checkbox-container{ 
      margin: auto;
      padding-left: 20px;
      input {
        margin-left: -20px;
      }
    }
    #register-btn-container{
      margin: auto;
    }
  }
}

/* FAQ SECTION */
#faq-section{
  p {
    display: inline-block;
    width: 90%;
  }
  .glyphicon-chevron-down {
    vertical-align: center;
  }
}