/* UTILITIES */

/* GLOBAL */
@media (min-width: 992px){
  .container {
    width: 80%;
  } 
}

@media (min-width: 1200px){
  .container {
    width: 60%;
  } 
}

/* HEADER */
header {
  height: 300px;
  p {
    color: #ccc;
    margin-top: 70px;
    font-size: 1.8rem;
  }
  strong {
    color: #fff;
  }
  /* ie fallbacks */
  background-image: url('../assets/header_phase1.jpg');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../assets/header_phase1.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../assets/header_phase1.jpg', sizingMethod='scale');

  /* desired styles */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../assets/header_phase1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* LEAD SECTION */
#lead-section{
  color: #ddd;
  /* ie fallbacks */
  background-image: url('../assets/background_pattern.jpg');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../assets/background_pattern.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../assets/background_pattern.jpg', sizingMethod='scale');
  /* desired styles */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../assets/background_pattern.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .navbar{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),transparent;
    border: none;
  }
  .navbar-nav>li:first-child {
    border-left: 1px solid rgba(0,0,0,0.1);
  }
  .navbar-nav>li{
    border-right: 1px solid rgba(0,0,0,0.1);
  }
  a {
    color: #bbb;
  }
  .lead {
    font-weight: bold;
    display: block;
    margin-bottom: 0px;
  }
  #lead-line-1 {
    width: 400px;
  }
  #lead-line-2 {
    margin-bottom: 20px;
  }
  article {
    padding-bottom: 50px;
  }
  small {
    display: block;
    color: #ccc;
    width: 600px;
    font-size: 1.2rem;
  }
  #small-line-1 {
    display: block;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px){
  #lead-section{
    .navbar-nav {
      margin: 0 auto;
      display: table;
      table-layout: auto;
      float: none;
      width: 100%;
    }
    .navbar-nav>li {
      display: table-cell;
      float: none;
      text-align: center;
    }
  }
}

@media (max-width: 768px){
  #lead-section{
    .navbar-nav>li {
      text-align: center;
    }
    .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      border-color: transparent;
      background-color: transparent;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      border-color: transparent;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
      border-color: rgba(0,0,0,0.1);
    }
    li {
      border-bottom: 1px solid rgba(0,0,0,0.1);
    }
    li:last-child {
      border-bottom: none;
    }
    .lead {
      display: inline;
      font-size: 2rem;
    }
    #lead-line-1, small {
      width: 100%;
    }
    #lead-section small {
      display: inline;
    }
  }
}

/* WINDOW SECTION */
#windows-section{
  margin-bottom: 30px;
  #windows-nav {
    padding-top: 30px;
    background: linear-gradient(to top, rgba(200,200,200,0.3), rgba(0,0,0,0));;
    ul {
      margin-left: 20px;
      // width: 66.666%;
    }
  }

  #windows-content {
    color: #888;
  }

  #windows-nav, #windows-content {
    box-sizing: border-box;
    margin: 0;
  }
  
  #windows-bg-image {
    width: 100%;
    float: right;
    max-width: 500px;
  }

  .register {
    color: #27f;
    margin: auto;
    width: 75%;
    max-width: 800px;
    strong {
      text-decoration: underline;
    }
  }

  #myTabs>li{
    width: 25%;
    height: 62px;
    text-align: center;
    vertical-align: center;
    opacity: 0.5;
  }

  #myTabs>li.active{
    opacity: 1;
  }

  .tab-content {
    margin-bottom: 50px;
    margin-top: 30px;
  }

  .tab-img {
    width: 100%;
    background-image: url('../assets/tab_backgroundgradient.png');
  }

  #windows-main-image{
    position: relative;
    top: -10px;
    height:40px;
    margin-top: 10px;
  }

  #starter-main-image{
    width: 120px;
    height: 50px;
    position: relative;
    top: -15px;
    margin-left: 10px;
  }

  #pro-main-image{
    width: 65px;
    position: relative;
    top: -17px;
  }

  #plus-main-image{
    width: 80px;
    position: relative;
    top: -16px;
  }

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 1px solid transparent;
    margin-top: -30px;
    padding-top: 30px;
  }

  .nav-tabs>li>a {
    margin-top: -10px;
  }

  .col-md-4 {
    padding-right: 0;
  }

  .call-to-action{
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: -1px 1px 10px 2px rgba(142,203,250,1);
    border-radius: 8px;
    width: 75%;
    max-width: 800px;

    p {
      font-size: 1.2rem;
      color: #eee;
    }

    strong {
      font-size: 1.5rem;
      color: #fff;
    }

    small {
      font-size: 0.9rem;
    }

    /* ie fallbacks */
    background-image: url('../assets/background_pattern.jpg');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../assets/background_pattern.jpg', sizingMethod='scale')";
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../assets/background_pattern.jpg', sizingMethod='scale');
    /* desired styles */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../assets/background_pattern.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    button {
      background: #f59329;
      background-image: linear-gradient(to bottom, #f59329, #de6f0d);
      border-radius: 8px;
      color: #ffffff;
      font-size: 1rem;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      letter-spacing: 1px;
      margin-top: 5px;
      margin-bottom: 5px;
      border: solid #ddd 2px;
    }
  }
}

@media (max-width: 992px){
  #windows-section{
    #windows-bg-image {
      width: 40%;
    }

    .call-to-action{
      button {
        width: 45%;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-left:5px;
        margin-right: 5px;
      }
      .col-md-3{
        text-align: center;
      }
    }
    .nav>li>a:hover {
      background-color: #fff;
    }
  }
}

@media (min-width: 992px){
  #windows-section{
    #windows-main-image{
      max-width: 150px;
    }

    #starter-main-image{
      left: -8px;
      max-width: 100px;
    }
  }
}

@media (max-width: 768px){
  #windows-section{
    #myTabs>li{
      height: 80px;
    }
    .tab-text {
      height: 100px;
      font-weight: bold;
      margin-top: 20px;
      text-align: center;
    }
    #windows-text{
      font-size: 1.1rem;
      color: rgb(27,95,161);
    }

    #starter-text{
      margin-left: -5px;
      color: rgb(31,236,40);
    }

    #pro-text{
      color: rgb(56,107,193);
    }

    #plus-text{
      color: rgb(116, 69, 237);
    }

    .tab-img {
      width: 80%;
    }
    #windows-bg-image {
      width: 50%;
    }
    #windows-main-image{
      left: -9px;
      top: -5px;
      width: 150px;
    }

    #windows-nav {
      ul {
        width: 100%;
        margin-left: 0;
      }
    }

    .call-to-action{
      margin: auto;
      margin-bottom: 20px;
    }
    
  }
}

/* MAC SECTION */
#mac-section {
  margin-bottom: 30px;

  /* ie fallbacks */
  background-image: url('../assets/background_mac.jpg');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../assets/background_mac.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../assets/background_mac.jpg', sizingMethod='scale');
  /* desired styles */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../assets/background_mac.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  #mac-content {
    color: #888;
  }

  #mac-nav {
    padding-top: 30px;
    background: linear-gradient(to top, rgba(220,220,220,0.3), rgba(0,0,0,0));;
  }

  .register {
    color: rgb(27,95,161);
    margin: auto;
    width: 75%;
    max-width: 800px;
    margin-bottom: 60px;
    strong {
      text-decoration: underline;
    }
  }

  .nav-tabs {
    border-bottom: none;
  }

  #mac-nav, #mac-content {
    box-sizing: border-box;
    margin: 0;
  }
  
  #mac-bg-image {
    min-width: 100%;
    float: left;
  }

  #myTabs>li{
    width: 25%;
    height: 62px;
    text-align: center;
    vertical-align: center;
    opacity: 0.5;
  }

  #myTabs>li.active{
    opacity: 1;
  }

  .tab-content {
    margin-bottom: 50px;
    margin-top: 30px;
  }

  .tab-img {
    width: 100%;
    background-image: url('../assets/tab_backgroundgradient.png');
  }

  #mac-main-image{
    position: relative;
    top: -10px;
    height:40px;
    margin-top: 10px;
  }

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 1px solid transparent;
    margin-top: -30px;
    padding-top: 30px;
    background-color: #ccc;
  }

  .nav-tabs>li>a {
    margin-top: -10px;
  }

  .col-md-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .call-to-action{
    margin: auto;
    width: 75%;
    max-width: 800px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: -1px 1px 10px 2px rgba(150,150,150,1);
    border-radius: 8px;

    p {
      font-size: 1.2rem;
      color: #eee;
    }

    strong {
      font-size: 1.5rem;
      color: #fff;
    }

    small {
      font-size: 0.9rem;
    }

    /* ie fallbacks */
    background-image: url('../assets/background_pattern.jpg');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../assets/background_pattern.jpg', sizingMethod='scale')";
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../assets/background_pattern.jpg', sizingMethod='scale');
    /* desired styles */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../assets/background_pattern.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    button {
      background: #f59329;
      background-image: linear-gradient(to bottom, #f59329, #de6f0d);
      border-radius: 8px;
      color: #ffffff;
      font-size: 1rem;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      letter-spacing: 1px;
      margin-top: 25px;
      // margin-bottom: 5px;
      border: solid #ddd 2px;
    }
  }
}

@media (max-width: 992px){
  #mac-section{
    background: #ccc;
    #mac-img-container {
      height: 250px;
      /* ie fallbacks */
      background-image: url('../assets/background_mac.jpg');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../assets/background_mac.jpg', sizingMethod='scale')";
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../assets/background_mac.jpg', sizingMethod='scale');
      /* desired styles */
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../assets/background_mac.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    .call-to-action{
      button {
        width: 45%;
        padding-top: 8px;
        padding-bottom: 8px;
        margin:5px;
        margin-bottom: 15px;

      }
      .col-md-3{
        text-align: center;
      }
    }
  }
}

@media (min-width: 992px){
  #mac-section{
    #mac-main-image{
      max-width: 150px;
    }

    #starter-main-image{
      left: -8px;
      max-width: 100px;
    }
  }
}

@media (max-width: 768px){
  #mac-section{
    #myTabs>li{
      height: 80px;
      width: 50%;
    }
    .tab-img {
      width: 80%;
    }
    #mac-bg-image {
      width: 50%;
    }
    #mac-main-image{
      left: -9px;
      top: -5px;
      width: 150px;
    }

    .nav-tabs > li.bottom-tabs.active > a:focus, .nav-tabs > li.bottom-tabs.active > a:hover, .nav-tabs > li.bottom-tabs.active > a:active, .nav-tabs > li.bottom-tabs.active > a:visited, .nav-tabs > li.bottom-tabs.active > a{
      margin-top: 0;
      padding-top: 17px;
    }

    #mac-nav {
      ul {
        width: 100%;
        margin-left: 0;
      }
    }

    .call-to-action{
      margin: auto;
      margin-bottom: 20px;
    }
    
  }
}

/* TEAM SECTION */
#team-section{
  margin-bottom: 30px;
  #team-nav {
    padding-top: 20px;
    background: linear-gradient(to top, rgba(200,200,200,0.3), rgba(0,0,0,0));;
    ul {
      margin-left: 20px;
      // width: 66.666%;
    }
  }

  #team-nav, #team-content {
    box-sizing: border-box;
    margin: 0;
  }
  
  #team-bg-image {
    width: 100%;
    float: right;
    max-width: 500px;
  }

  #team-content {
    color: #888;
  }

  .register {
    color: #27f;
    strong {
      text-decoration: underline;
    }
  }

  #myTabs>li{
    width: 25%;
    height: 62px;
    text-align: center;
    vertical-align: center;
    opacity: 0.5;
  }

  #myTabs>li.active{
    opacity: 1;
  }

  .tab-content {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .tab-img {
    width: 100%;
    background-image: url('../assets/tab_backgroundgradient.png');
  }

  #team-main-image{
    position: relative;
    top: -10px;
    height:40px;
    margin-top: 10px;
    max-width: 150px;
  }

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 1px solid transparent;
    margin-top: -30px;
    padding-top: 30px;
  }

  .nav-tabs>li>a {
    margin-top: -10px;
  }

  .col-md-4 {
    padding-right: 0;
  }
}

@media (max-width: 992px){
  #team-section{
    #team-bg-image {
      width: 40%;
    }
  }
}

@media (max-width: 768px){
  #team-section{
    #myTabs>li{
      height: 80px;
      width: 50%;
    }
    .tab-img {
      width: 80%;
    }
    #team-bg-image {
      width: 50%;
    }
    #team-main-image{
      left: -9px;
      top: -10px;
      width: 150px;
      margin-top: 30px;
    }

    .nav-tabs > li.bottom-tabs.active > a:focus, .nav-tabs > li.bottom-tabs.active > a:hover, .nav-tabs > li.bottom-tabs.active > a:active, .nav-tabs > li.bottom-tabs.active > a:visited, .nav-tabs > li.bottom-tabs.active > a{
      margin-top: 0;
      padding-top: 17px;
    }

    #team-nav {
      ul {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

/* REGISTER SECTION */
#register-section{
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  /* ie fallbacks */
  background-image: url('../assets/background_pattern.jpg');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../assets/background_pattern.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.../assets/background_pattern.jpg', sizingMethod='scale');
  /* desired styles */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../assets/background_pattern.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .col-sm-6:first-child {
    .form-control{
      float: right;
      margin-left: 1000px;
    }

  }
  .checkbox{
    margin-left: 20px;
  }
  input, select, #checkbox-container, #register-btn-container {
    max-width: 300px;
  }
  input, select {
    height: 40px;
    margin-bottom: 16px;
  }
  #checkbox-container{
    margin-left: 20px;
    height: 110px;
    // font-size: 1.3rem;
    input {
      margin-top: -15px;
    }
  }
  button{
    width: 100%;
    height: 40px;
    background: #f59329;
    background-image: linear-gradient(to bottom, #f59329, #de6f0d);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: 1px;
    border: solid #ddd 2px;
  }
}
  

@media (max-width: 768px){
  #register-section{
    .col-sm-6:first-child {
      .form-control{
        float: none;
        margin-left: auto;
      }
    }
    input, select {
      margin: 15px auto;
    }
    #checkbox-container{ 
      margin: auto;
      padding-left: 20px;
      input {
        margin-left: -20px;
      }
    }
    #register-btn-container{
      margin: auto;
    }
  }
}

/* FAQ SECTION */
#faq-section{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #eee;

  h3 {
    color: #999;
    padding-bottom: 10px;
  }
  p {
    display: inline-block;
    width: 90%;
  }

  small {
    color: #999;
  }

  .glyphicon-chevron-down, .glyphicon-chevron-up {
    vertical-align: center;
    color: #26f;
  }

  .panel{
    box-shadow: none;
  }

  .panel-default {
    border-color: #eee;
    border-top-color: #aaa;
  }

  .panel-default:last-child {
    border-bottom-color: #aaa;
  }

  .panel-default>.panel-heading {
    background-color: #eee;
    border-color: transparent;
  }

  .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-color: #eee;
    background-color: #eee;
  }

}

@media (max-width: 992px){
  #faq-section{
    h3 {
      text-align: center;
    }
  }
}

/* FOOTER SECTION */
footer {
  padding-top: 30px;
  padding-bottom: 30px;
  small {
    font-size: 0.9rem;
    display: inline-block;
    position: relative;
    bottom: -20px;;
  }
  #qsr-logo {
    float: right;
    max-width: 90px;
  }
  a {
    color: #333;
  }
}